body{

	margin: 0;
	padding: 0;
	font-family: "HK Grotesk";
}
nav.navbar .navbar-brand img{
	width: 100px;
	padding: 15px;
}
.navbar .container .navbar-toggler{
	margin-top: -2rem;
	margin-right: 1rem;
}
.collapse .navbar-nav{
	background-color: rgba(0,0,0,.8);
}
.collapse.navbar-collapse .navbar-nav li a{
	padding: 20px;
	color: #fff;
	font-weight: normal;
}
.collapse.navbar-collapse .navbar-nav li a:hover{
	padding: 20px;
	color: #fff;
	font-weight: bolder;
}

.carousel-item.carousel1 img{
	position: relative;
	width: 100%;
	height: 100vh;
}

.carousel-caption{
	position: absolute;
	right: 40rem;
	text-align:left;
	bottom:10rem;
}
.carousel-caption h5{
	color: #fff;
	font-weight: bolder;
	font-size: 5rem;
	line-height: 4rem;
}
.carousel-caption a{
	color: #fff;
	padding: 8px;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 5px;
}
.aboutus-section .container{
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.aboutus-section .container p{
	margin-top: 5rem;
	background-color: #fff;
	font-size: 20px;
	line-height: 3;
}

.aboutus-section .container img{
	position: relative;
	width: 300px;
	padding: 0;
	margin: -2rem -4.5rem;
	z-index: -1;
}

.products-section .container a{
	position: relative;
	width: 90px;
	text-decoration: none;
	border: 1px solid #ca171e;
	padding: 7px;
	font-size: 15px;
	margin-left: 5rem;
	text-align: right;
	color: #ca171e;
}
.products-section .container a:hover{
	position: relative;
	width: 90px;
	text-decoration: none;
	background-color: #ca171e;
	color: #fff;
}

.products-section .container h5{
	margin-top: 0rem;
}
.products-section .container .row .col-lg-4{
	/*border: 1px solid black; */
	position: relative; 
	display: flex; 
	width: 380px; 
	height: 270px;
}

.products-section .container .card{
	width: 26rem;
	height: 16rem;
}
.products-section .container .card img{
	position: sticky;
	width: 10rem;
	margin-top: 3rem;
}
.products-section .container .card span{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.2);
}

.products-section .container .card p{
	position: absolute;
	bottom:-.5rem;
	left: 1rem;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bolder;
}

h1.what{
	font-size: 80px;
	font-weight: bolder;
	margin-top: 3rem;
}
.carousel .carousel-indicators.newcarousel button{
	background-color: #ca171e;
}
.carousel-item.carousel2 .row .col-lg-5{
	position: relative;
	width: 500px;
	height: 300px;
}
.carousel-item.carousel2 .row .col-lg-5 img{
	position: relative;
	max-width: 500px;
	margin-top: -10rem;
	height: auto;
	overflow: hidden;
}
.carousel-item.carousel2 .row .carousel-caption h5{
	position: absolute;
	font-size: 5rem;
	top: 0rem;
	left: 7.5rem;
	font-weight: bolder;
}
.carousel-item.carousel2 .row .carousel-caption p{
	position: absolute;
	font-size: 1.5rem;
	top: 4rem;
	left: 8rem;
	width: 300px;
	font-weight: bolder;
}
.carousel-item.carousel2 .row .col-lg-7 .carousel-caption p{
	position: absolute;
	font-size: 18px;
	color: #101010;
	top: -2rem;
	left: 21rem;
	width: 450px;
	font-weight: bold;
}
.carousel .carousel-control-prev i,
.carousel .carousel-control-next i{
	color: #101010;
	font-size:40px;
}

.services-section .container a{
	position: relative;
	width: 90px;
	text-decoration: none;
	border: 1px solid #ca171e;
	padding: 7px;
	font-size: 15px;
	margin-left: 4rem;
	text-align: right;
	color: #ca171e;
}
.services-section .container a:hover{
	position: relative;
	width: 90px;
	text-decoration: none;
	background-color: #ca171e;
	color: #fff;
}
.services-section .container .row{

	margin-top: 2rem;
}

.services-section .container .row .col-lg-4{
	/*border: 1px solid black; */
	position: relative; 
	display: flex; 
	width: 370px; 
	height: 270px;
}

.services-section .container .card{
	width: 27rem;
	height: 16rem;
}
.services-section .container .card img{
	position: sticky;
	width: 11rem;
}
.services-section .container .card span{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(217, 152, 119, .3);
}

.services-section .container .card p{
	position: absolute;
	bottom:-.5rem;
	left: 1rem;
	color: rgba(0,0,0, .5);
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bolder;
}
h1.works{
	font-size: 5rem;
	font-weight: bolder;
}
.carousel .carousel-indicators.newcarousel1 button{
	background-color: #ca171e;
}
.carousel-item.carousel3 .row{
	margin-left: 6rem;
	margin-bottom: 3rem;
}
.carousel-item.carousel3 .row .col-lg-4{
	position: relative;
	max-width: 300px;
	height: 270px;
}
.carousel-item.carousel3 .row .col-lg-4 img{
	position: relative;
	width: 330px;
	height: 270;
}
.carousel-item.carousel3 .row .col-lg-4 .carousel-caption span{
	position: absolute;
	top:-4.3rem;
	left: -2rem;
	width: 275px;
	height: 270px;
	background-color:rgba(0,0,0,0.2);
}
.carousel-item.carousel3 .row .col-lg-4 .carousel-caption p{
	position: absolute;
	bottom:0;
	left: 1rem;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
}
h2{
	margin-bottom: 2rem;
}
.clients-section .container .carousel4{	
	margin-left: 2rem;
}
.clients-section .container .carousel4 .row{
	width: 1000px;
}
.clients-section .container .carousel4 .row .col-lg-2{
	width: 150px;
	margin: 0;
	padding: 0;
}
h2.end u{
	background-color: yellow;
}
.endpart a.before{
	font-size: 20px;
	font-weight: bold;
	left: 22rem;
}
footer{
	position: absolute;
	background-color: #101010;
	left: 0;
	width: 100%;
	height: 280px;
	margin-top: 4rem;
}
.main-content{
	display: flex;
}
.main-content .box{
	flex-basis: 50%;
}
.main-content .left img{
	width: 100px;
	padding: 10px;
	margin: 2rem 0 0 2rem;
}
.main-content .left h5{
	color: #fff;
	font-size: 15px;
	margin-left: 3rem;
}

.main-content .left .content p{
	color: #fff;
	font-size: 13px;
	margin-left: 3rem;
}
.main-content .row{
	margin-top: 2rem;
}
.main-content .row .col-lg-5{
	width: 300px;
	margin-top: 2rem;
	padding: 10px;

}
.main-content .row .col-lg-5 a{
	color: #fff;
	border:none;
}
.main-content .right i{
	position: absolute;
	top: 5rem;
	right: 3rem;
	color: #fff;
	font-size: 3rem;
	text-align: right;
}
.main-content .right .content{
	position: absolute;
	top: 9rem;
	right: 3rem;
	color: #fff;
}
/*EXTRA SMALL DEVICES(POTRAIT PHONES, LESS THAN 576Ppx)*/
@media (max-width: 576px)
{
	body{
		overflow-x: hidden;
	}
	.collapse.navbar-collapse .navbar-nav li a{
		padding: 20px;
		color: #fff;
		font-weight: normal;
		text-align: center;
	}
	.carousel{
		position: relative;
		height: 300px;
	}
	.carousel .carousel-item img{
		position: relative;
		height: 300px;
	}
	.carousel-caption{
		position: absolute;
		right: 12rem;
		text-align:left;
		bottom:4rem;
	}
	.carousel .carousel-item .carousel-caption h5{
		font-size: 2rem;
		line-height: 2rem;
	}
	.carousel .carousel-item .carousel-caption a{
		font-size: .5rem;
	}
	.aboutus-section .container{
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	.aboutus-section .container p{
		margin-top: 2rem;
		background-color: #fff;
		font-size: 13px;
		line-height: 2;
		padding: 10px;
		text-align: center;
	}
	.aboutus-section .container img{
		position: relative;
		width: 200px;
		padding: 0;
		margin: -2rem 0 0 8.5rem;
		z-index: -1;
	}
	.products-section .container h4{
		position: relative;
		text-align: center;
		margin-bottom: 1rem;
	}
	.products-section .container a{
		font-size: 13px;
		margin-left: 11.5rem;
	}
	.products-section .container h5{
		font-size: 1rem;
		text-align: center;
		margin-top: 1rem;
	}
	.products-section .container .row{
		margin-left: .5rem;
	}
	.products-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative; 
		display: flex; 
		width: 150px;
		height: 100px;
		margin-bottom: 1rem;

	}
	.products-section .container .card{
		height: 100px;
		padding: 0;
	}
	.products-section .container .card img{
		width: 4rem;
		margin: 1rem 0 1rem 0;
	}

	.products-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.what{
		font-size: 40px;
		margin-top: 2rem;
	}

	.carousel .carousel-indicators.newcarousel button{
		background-color: #fff;
	}
	.carousel-item.carousel2 .row .col-lg-5{
		position: relative;
		width: 530px;
		margin-left: -1rem;
	}
	.carousel-item.carousel2 .row .col-lg-5 img{
		position: relative;
		margin-top: -11rem;
	}
	.carousel-item.carousel2 .row .carousel-caption h5{
		position: absolute;
		font-size: 4rem;
		top: -5rem;
		left: 8rem;
		font-weight: bolder;
	}
	.carousel-item.carousel2 .row .carousel-caption p{
		position: absolute;
		font-size: 1.5rem;
		top: -2rem;
		left: 8rem;
	}
	.carousel-item.carousel2 .row .col-lg-7 .carousel-caption p{
		position: absolute;
		font-size: 11px;
		color: #fff;
		top: 1rem;
		left: -1.5rem;
		width: 400px;
		text-align: right;
	}
	.services-section .container a{
		position: relative;
		margin-left: 11rem;
	}
	.services-section .container h5{
		font-size: 1rem;
		margin-left: 2rem;
		margin-top: 1rem;
	}
	.services-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative;
		width: 210px;
		height: 100px;

	}
	.services-section .container .card{
		height: 100px;
	}
	.services-section .container .card img{
		width: 4rem;
		margin: 1.5rem 0 1rem 0;
	}
	.services-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.works{
		font-size: 3rem;
		font-weight: bolder;
	}
	.carousel.slide3{
		height: 200px;
		margin-top: -2rem;

	}
	.carousel .carousel-indicators.newcarousel1 button{
		background-color: #ca171e;
	}
	.carousel-item.carousel3 .row{
		margin-left: 2.5rem;
		margin-top: 2.5rem;
	}
	.carousel-item.carousel3 .row .col-lg-4{
		position: relative;
		max-width: 120px;
		height: 100px;
		padding: 5px;
	}
	.carousel-item.carousel3 .row .col-lg-4 img{
		position: relative;
		max-width: 120px;
		height: 100px;
	}
	.carousel-item.carousel3 .row .col-lg-4 .carousel-caption p{
		position: absolute;
		top:0;
		left: 1rem;
		color: #101010;
		font-weight: bold;
		font-size: 12px;
	}
	.clients-section .container .row .col-lg-2 a{
		margin-left: 10rem;
	}
	.clients-section .container .carousel4{	
		position: relative;
		margin-left: 2.5rem;
		width: 400px;
		height: 400px;
		margin-bottom: 2rem;
	}
	.clients-section .container .carousel4 .row{
		position: relative;
		width: 370px;
	}
	.clients-section .container .carousel4 .row .col-lg-2{
		width: 100px;
	}
	.clients-section .container .carousel4 .row .col-lg-2 img{
		width: 100px;
		height: 50px;
	}
	.endpart h2.end{
		margin-top: 10rem;
	}
	.endpart a.before{
		position: relative;
		font-size: 20px;
		font-weight: bold;
		margin-left: -16rem;
	}
	footer{
		position: absolute;
		background-color: #101010;
		left: 0;
		width: 110%;
		height: 110%;
		margin-top: 4rem;
		overflow: hidden;
	}
	.main-content{
		display: inline-block;
	}
	.main-content .left{
		height: 100px;
	}
	.main-content .left img{
		width: 100px;
		padding: 10px;
		margin: 2rem 0 0 12rem;
	}
	.main-content .left h5{
		margin-left: -2rem;
	}
	.main-content .left .content p{
		margin-left: -2rem;
		text-align: center;
		font-family: HK Grotesk;
	}
	.main-content .row .col-lg-5.second{
		position: relative;
		margin-top: 7rem;
		text-align: center;
		margin-left: 8rem;
	}
	.main-content .row .col-lg-5.second a{
		margin-left: 4rem;
		display: block;
		text-align: center;
	}
	.main-content .row .col-lg-5.third{
		position: relative;
		margin-top: 1rem;
		text-align: center;
		margin-left: 8rem;
	}
	.main-content .row .col-lg-5.third a{
		margin-left: 4rem;
		display: block;
		text-align: center;
	}
	.main-content .right{
		position: relative;
		width: 300px;
		height: 200px;
		margin-left: 5rem;
		margin-top: -3rem;
	}
	.main-content .right i{
		position: relative;
		margin-left: 12.5rem;
	}
}

/*SMALL DEVICES(LANDSCAPE PHONES, LESS THAN 768px)*/
@media (min-width: 576px) and (max-width: 768px)
{
	body{
		overflow-x: hidden;
	}
	.collapse.navbar-collapse .navbar-nav li a{
		padding: 20px;
		color: #fff;
		font-weight: normal;
		text-align: center;
	}
	.carousel{
		position: relative;
		height: 300px;
	}
	.carousel .carousel-item img{
		position: relative;
		height: 300px;
	}
	.carousel-caption{
		position: absolute;
		right: 12rem;
		text-align:left;
		bottom:4rem;
	}
	.carousel .carousel-item .carousel-caption h5{
		font-size: 2rem;
		line-height: 2rem;
	}
	.carousel .carousel-item .carousel-caption a{
		font-size: .5rem;
	}
	.aboutus-section .container{
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	.aboutus-section .container p{
		margin-top: 2rem;
		background-color: #fff;
		font-size: 13px;
		line-height: 2;
		padding: 10px;
		text-align: center;
	}
	.aboutus-section .container img{
		position: relative;
		width: 200px;
		padding: 0;
		margin: -2rem 0 0 10rem;
	}
	.products-section .container h4{
		position: relative;
		text-align: center;
		margin-bottom: 1rem;
	}
	.products-section .container a{
		font-size: 13px;
		margin-left: 14rem;
	}
	.products-section .container h5{
		font-size: 1rem;
		text-align: center;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.products-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative; 
		display: flex; 
		width: 180px;
		height: 100px;
		margin-bottom: 1rem;

	}
	.products-section .container .card{
		height: 100px;
		padding: 0;
	}
	.products-section .container .card img{
		width: 4rem;
		margin: 1rem 0 1rem 0;
	}

	.products-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.what{
		font-size: 40px;
		margin-top: 2rem;
	}

	.carousel .carousel-indicators.newcarousel button{
		background-color: #fff;
	}

	.carousel-item.carousel2 .row .col-lg-5{
		position: relative;
		margin-left: 1.3rem;
	}
	.carousel-item.carousel2 .row .col-lg-5 img{
		position: relative;
		margin-top: -13rem;
	}
	.carousel-item.carousel2 .row .carousel-caption h5{
		position: absolute;
		font-size: 4rem;
		top: -5rem;
		left: 8rem;
		font-weight: bolder;
	}
	.carousel-item.carousel2 .row .carousel-caption p{
		position: absolute;
		font-size: 1.5rem;
		top: -2rem;
		left: 8rem;
	}
	.carousel-item.carousel2 .row .col-lg-7 .carousel-caption p{
		position: absolute;
		font-size: 11px;
		color: #fff;
		top: 1rem;
		left: -1.5rem;
		width: 400px;
		text-align: right;
	}
	.services-section .container a{
		position: relative;
		margin-left: 13rem;
	}
	.services-section .container h5{
		font-size: 1rem;
		margin-left: 1rem;
		margin-top: 1rem;
	}
	.services-section .container .row{
		margin-left: 0rem;
	}
	.services-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative;
		width: 250px;
		height: 100px;
		margin-bottom: 2rem;

	}
	.services-section .container .card{
		height: 120px;
	}
	.services-section .container .card img{
		width: 4rem;
		margin: 1.5rem 0 1rem 0;
	}
	.services-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.works{
		font-size: 3rem;
		font-weight: bolder;
	}
	.carousel.slide3{
		height: 200px;
		margin-top: -3rem;

	}
	.carousel .carousel-indicators.newcarousel1 button{
		background-color: #ca171e;
	}
	.carousel-item.carousel3 .row{
		margin-left: 2.5rem;
		margin-top: 2.5rem;
	}
	.carousel-item.carousel3 .row .col-lg-4{
		position: relative;
		width: 140px;
		height: 100px;
		padding: 5px;
	}
	.carousel-item.carousel3 .row .col-lg-4 img{
		position: relative;
		width: 120px;
		height: 100px;
	}
	.carousel-item.carousel3 .row .col-lg-4 .carousel-caption p{
		position: absolute;
		top:0;
		left: 1rem;
		color: #101010;
		font-weight: bold;
		font-size: 12px;
	}
	.clients-section .container .row .col-lg-2 a{
		margin-left: 12rem;
	}
	.clients-section .container .carousel4{	
		position: relative;
		margin-left: 4rem;
		width: 400px;
		height: 400px;
		margin-bottom: 2rem;
	}
	.clients-section .container .carousel4 .row{
		position: relative;
		width: 370px;
	}
	.clients-section .container .carousel4 .row .col-lg-2{
		width: 100px;
	}
	.clients-section .container .carousel4 .row .col-lg-2 img{
		width: 100px;
		height: 50px;
	}
	.endpart h2.end{
		margin-top: 10rem;
	}
	.endpart a.before{
		position: relative;
		font-size: 20px;
		font-weight: bold;
		margin-left: -16rem;
	}
	footer{
		position: absolute;
		background-color: #101010;
		left: 0;
		width: 110%;
		height: 130%;
		margin-top: 4rem;
		overflow: hidden;
	}
	.main-content{
		display: inline-block;
	}
	.main-content .left{
		height: 100px;
	}
	.main-content .left img{
		width: 150px;
		padding: 10px;
		margin: 2rem 0 0 15rem;
	}
	.main-content .left h5{
		margin-left: -4rem;
	}
	.main-content .left .content p{
		margin-left: -4rem;
		text-align: center;
	}
	.main-content .row .col-lg-5.second{
		position: relative;
		margin-top: 11rem;
		text-align: center;
		margin-left: 10rem;
	}
	.main-content .row .col-lg-5.second a{
		margin-left: 6rem;
		display: block;
		text-align: center;
	}
	.main-content .row .col-lg-5.third{
		position: relative;
		margin-top: 1rem;
		text-align: center;
		margin-left: 10rem;
	}
	.main-content .row .col-lg-5.third a{
		margin-left: 6rem;
		display: block;
		text-align: center;
	}
	.main-content .right{
		position: relative;
		width: 300px;
		height: 200px;
		margin-left: 8.5rem;
		margin-top: -2rem;
	}
	.main-content .right i{
		position: relative;
		margin-left: 12.5rem;
	}
	.main-content .right .content p{
		position: relative;
	}
}
/*MEDIUM DEVICES(TABLETS, LESS THAN 992px)*/
@media (min-width: 768px) and (max-width: 992px)
{
	body{
		overflow-x: hidden;
	}
	.collapse.navbar-collapse .navbar-nav li a{
		padding: 20px;
		color: #fff;
		font-weight: normal;
		text-align: center;
	}
	.carousel{
		position: relative;
		height: 300px;
	}
	.carousel .carousel-item img{
		position: relative;
		height: 300px;
	}
	.carousel-caption{
		position: absolute;
		right: 12rem;
		text-align:left;
		bottom:4rem;
	}
	.carousel .carousel-item .carousel-caption h5{
		font-size: 2rem;
		line-height: 2rem;
	}
	.carousel .carousel-item .carousel-caption a{
		font-size: .5rem;
	}
	.aboutus-section .container{
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	.aboutus-section .container p{
		margin-top: 2rem;
		background-color: #fff;
		font-size: 13px;
		line-height: 2;
		padding: 10px;
		text-align: center;
	}
	.aboutus-section .container img{
		position: relative;
		width: 200px;
		padding: 0;
		margin: -2rem 0 0 15rem;
	}
	.products-section .container h4{
		position: relative;
		text-align: center;
		margin-bottom: 1rem;
	}
	.products-section .container a{
		font-size: 13px;
		margin-left: 19.5rem;
	}
	.products-section .container h5{
		font-size: 1rem;
		text-align: center;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.products-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative; 
		display: flex; 
		width: 180px;
		height: 100px;
		margin-bottom: 1rem;

	}
	.products-section .container .card{
		height: 100px;
		padding: 0;
	}
	.products-section .container .card img{
		width: 4rem;
		margin: 1rem 0 1rem 0;
	}

	.products-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.what{
		font-size: 40px;
		margin-top: 2rem;
	}

	.carousel .carousel-indicators.newcarousel button{
		background-color: #fff;
	}

	.carousel-item.carousel2 .row .col-lg-5{
		position: relative;
		margin-left: 1.3rem;
		width: 400px;
	}
	.carousel-item.carousel2 .row .col-lg-5 img{
		position: relative;
		margin-top: -7rem;
	}
	.carousel-item.carousel2 .row .carousel-caption h5{
		position: absolute;
		font-size: 4rem;
		top: -5rem;
		left: 6rem;
		font-weight: bolder;
	}
	.carousel-item.carousel2 .row .carousel-caption p{
		position: absolute;
		font-size: 1.5rem;
		top: -2rem;
		left: 5rem;
	}
	.carousel-item.carousel2 .row .col-lg-7 .carousel-caption p{
		position: absolute;
		font-size: 13px;
		color: #101010;
		top: -9rem;
		left: 20rem;
		width: 170px;
		text-align: left;
	}
	.services-section .container a{
		position: relative;
		margin-left: 18rem;
	}
	.services-section .container h5{
		font-size: 1rem;
		margin-left: 1rem;
		margin-top: 1rem;
	}
	.services-section .container .row{
		margin-left: 0rem;
	}
	.services-section .container .row .col-lg-4{
		/*border: 1px solid black; */
		position: relative;
		width: 220px;
		height: 100px;
		margin-bottom: 2rem;

	}
	.services-section .container .card{
		height: 120px;
	}
	.services-section .container .card img{
		width: 4rem;
		margin: 1.5rem 0 1rem 0;
	}
	.services-section .container .card p{
		position: absolute;
		bottom:-.5rem;
		left: .5rem;
		font-size: 10px;
	}
	h1.works{
		font-size: 3rem;
		font-weight: bolder;
	}
	.carousel.slide3{
		height: 250px;
		margin-top: -3rem;

	}
	.carousel .carousel-indicators.newcarousel1 button{
		background-color: #ca171e;
	}
	.carousel-item.carousel3 .row{
		margin-left: 5rem;
		margin-top: 2.5rem;
	}
	.carousel-item.carousel3 .row .col-lg-4{
		position: relative;
		width: 170px;
		height: 100px;
		padding: 5px;
	}
	.carousel-item.carousel3 .row .col-lg-4 img{
		position: relative;
		width: 170px;
		height: 150px;
	}
	.carousel-item.carousel3 .row .col-lg-4 .carousel-caption span{
		position: absolute;
		top:.5rem;
		left: -1.3rem;
		width: 160px;
		height: 150px;
		background-color:rgba(0,0,0,0.2);
	}
	.carousel-item.carousel3 .row .col-lg-4 .carousel-caption p{
		position: absolute;
		bottom:0rem;
		left: 1rem;
		color: #fff;
		font-weight: bold;
		font-size: 10px;
	}
	.clients-section .container .row .col-lg-2 a{
		margin-left: 17.5rem;
	}
	.clients-section .container .carousel4{	
		position: relative;
		margin-left: 1rem;
		width: 400px;
		height: 400px;
		margin-bottom: 2rem;
	}
	.clients-section .container .carousel4 .row{
		position: relative;
		width: 600px;
	}
	.clients-section .container .carousel4 .row .col-lg-2{
		width: 100px;
	}
	.clients-section .container .carousel4 .row .col-lg-2 img{
		width: 100px;
		height: 50px;
	}
	.endpart h2.end{
		margin-top: 1rem;
	}
	.endpart a.before{
		position: relative;
		font-size: 20px;
		font-weight: bold;
		margin-left: -10rem;
	}
	footer{
		position: absolute;
		background-color: #101010;
		left: 0;
		width: 110%;
		height: 110%;
		margin-top: 4rem;
		overflow: hidden;
	}
	.main-content{
		display: inline;
	}
	.main-content .left{
		display: inline-block;
	}
	.main-content .left img{
		width: 170px;
		padding: 10px;
		margin: 2rem 0 0 10rem;
	}
	.main-content .left h5{
		margin-left: 21rem;
		margin-top: -8rem;
		font-size: 23px;

	}
	.main-content .left .content p{
		margin-left: 21rem;
		text-align: left;
		font-size: 17px;
	}
	.main-content .row .col-lg-5.second{
		position: relative;
		margin-top: 2rem;
		text-align: center;
		margin-left: 8rem;
	}
	.main-content .row .col-lg-5.second a{
		margin-left: 6rem;
		display: block;
		text-align: center;
		font-size: 20px;
	}
	.main-content .row .col-lg-5.third{
		position: relative;
		margin-top: -12.5rem;
		text-align: center;
		margin-left: 18rem;
	}
	.main-content .row .col-lg-5.third a{
		margin-left: 6rem;
		display: block;
		text-align: center;
		font-size: 20px;
	}
	.main-content .right{
		position: relative;
		width: 300px;
		height: 200px;
		margin-left: 13rem;
		margin-top: -2rem;
	}
	.main-content .right i{
		position: relative;
		margin-left: 13rem;
	}
	.main-content .right .content p{
		position: relative;
		margin-left: 1rem;
	}
}